.okp4-nemeton-web-beltaine-container {
  display: flex;
  width: 100%;
  @media screen and (max-width: 1440px) {
    background-size: 802px 602px;
  }

  .okp4-nemeton-web-beltaine-phase {
    display: flex;
    position: relative;
    width: 1766px;
    min-width: 1170px;
    height: 720px;
    border-radius: 20px;
    margin: 0 177px;
    background-color: #2e534f;

    @media screen and (max-width: 1440px) {
      width: 1197px;
      height: 720px;
      margin: 0 122px;
      min-width: unset;
    }

    .okp4-nemeton-web-beltaine-announcement {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 823px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      > h2:first-of-type {
        font-size: 80px;
      }

      .okp4-nemeton-web-beltaine-divider {
        width: 100px;
        border-top: 3px solid white;
        align-self: center;
      }
    }

    .okp4-nemeton-web-beltaine-phase-details {
      opacity: 0.1;
      padding: 60px 0 0 45px;
      .okp4-nemeton-web-beltaine-phase-title {
        display: flex;
        align-items: baseline;
        > h1:first-of-type {
          font-size: 200px;
        }

        > h2:first-of-type {
          padding-right: 22px;
          font-size: 60px;
        }
      }
      > p:first-of-type {
        width: 522px;
        padding-bottom: 80px;
        font-size: 22px;
        font-family: 'Gotham light', sans-serif;
      }
      > button:first-of-type {
        width: 350px;
        height: 72px;
        margin-left: 80px;
        border-color: white;
        background-color: transparent;
        color: white;
        cursor: pointer;
        font-family: 'Six Caps', sans-serif;
        font-size: 50px;
        letter-spacing: 2px;
      }
    }
  }
}
