.okp4-nemeton-web-imbolc-container {
  display: flex;
  width: 100%;
  margin: 107px 0 189px 0;
  @media screen and (min-width: 2125px) {
    justify-content: center;
  }

  @media screen and (max-width: 1440px) {
    background-size: 802px 602px;
    margin: 54px 0 54px 0;
  }

  .okp4-nemeton-web-imbolc-phase {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 1766px;
    min-width: 1170px;
    height: 720px;
    border-radius: 20px;
    margin: 0 177px;
    background-color: #2e534f;

    @media screen and (max-width: 1440px) {
      width: 1197px;
      height: 676px;
      margin: 0 122px;
      min-width: unset;
    }

    .okp4-nemeton-web-imbolc-announcement {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      > h2:first-of-type {
        font-size: 80px;
      }
    }

    .okp4-nemeton-web-imbolc-phase-details {
      opacity: 0.1;
      padding: 60px 45px 0 0;
      .okp4-nemeton-web-imbolc-phase-title {
        display: flex;
        align-items: baseline;
        > h1:first-of-type {
          font-size: 200px;
        }

        > h2:first-of-type {
          padding-right: 22px;
          font-size: 60px;
        }
      }
      > p:first-of-type {
        width: 522px;
        height: 130px;
        padding-bottom: 40px;
        font-size: 22px;
        font-family: 'Gotham light', sans-serif;
      }
      > button:first-of-type {
        width: 350px;
        height: 72px;
        margin-left: 80px;
        border-color: white;
        background-color: transparent;
        color: white;
        cursor: pointer;
        font-family: 'Six Caps', sans-serif;
        font-size: 50px;
        letter-spacing: 2px;
      }
    }
  }
}
