.okp4-nemeton-web-countdown-main {
  display: flex;
  justify-content: center;
  gap: 6px;
  width: 146px;

  .okp4-nemeton-web-countdown-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-weight: 400;
      text-align: center;
      margin: unset !important;
    }

    .okp4-nemeton-web-stat-value {
      font-size: 61px;
      line-height: 80px;
      font-family: 'Six Caps', sans-serif;
      color: $primary-white;
      letter-spacing: 0.04em;
    }

    .okp4-nemeton-web-stat-key {
      font-family: 'Gotham';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 10px;
      opacity: 0.6;
      text-transform: capitalize;
    }
  }
}
