.okp4-nemeton-web-sidh-challenges-container {
  display: flex;
  width: 100%;
  height: 874px;
  background-color: #2e534f;
  margin-top: 84px;
  @media screen and (max-width: 1440px) {
    height: 628px;
  }
  @media screen and (max-width: 580px) {
    height: 100%;
    padding: 20px 30px;
    width: calc(100% - 60px);
    margin-top: 40px;
  }

  .okp4-nemeton-web-sidh-challenges {
    display: flex;
    justify-content: space-between;
    width: 1766px;
    height: 720px;
    margin: 64px 240px 0;

    @media screen and (max-width: 1440px) {
      margin: 32px 122px 45px;
    }
    @media screen and (max-width: 580px) {
      flex-direction: column;
      margin: unset;
      height: unset;
      width: 100%;
      gap: 30px;
    }

    .okp4-nemeton-web-sidh-challenges-duration {
      display: flex;
      width: 380px;
      height: 105px;
      background-color: #1f403c;
      border-radius: 20px;
      @media screen and (max-width: 580px) {
        width: 100%;
        flex-direction: column;
        justify-content: center;
      }

      > p {
        font-family: 'Gotham bold', sans-serif;
        font-size: 22px;
        align-self: center;
        padding-left: 30px;

        @media screen and (max-width: 580px) {
          font-size: 20px;
          padding-left: unset;
        }
      }
    }

    .okp4-nemeton-web-sidh-challenges-summary {
      display: flex;
      flex-direction: column;
      width: 740px;
      height: 200px;

      @media screen and (max-width: 580px) {
        width: 100%;
        height: unset;
      }

      @media screen and (min-width: 580px) and (max-width: 1440px) {
        width: 547px;
      }

      .okp4-nemeton-web-sidh-challenge-subject {
        padding-bottom: 36px;

        @media screen and (max-width: 1440px) {
          padding-bottom: 10px;
        }

        > h3 {
          font-size: 50px;
          letter-spacing: 2px;

          @media screen and (max-width: 1440px) {
            font-size: 40px;
            letter-spacing: 1.6px;
          }

          @media screen and (max-width: 580px) {
            font-size: 34px;
            letter-spacing: 2px;
          }
        }

        .okp4-nemeton-web-sidh-challenges-rewards {
          padding: 20px 0 0 43px;
          line-height: 32px;

          @media screen and (max-width: 1440px) {
            padding: 6px 0 0 24px;
          }

          .okp4-nemeton-web-sidh-challenge-divider {
            border-top: 1px solid white;
            margin: 5px;
          }
        }

        .okp4-nemeton-web-sidh-challenge-reward {
          display: flex;
          justify-content: space-between;

          > p {
            font-family: 'Gotham light', sans-serif;
            font-size: 28px;

            &:first-of-type {
              width: 541px;
              @media screen and (max-width: 580px) {
                width: 100%;
              }
              @media screen and (min-width: 580px) and (max-width: 1440px) {
                width: 425px;
              }
            }
            @media screen and (max-width: 580px) {
              font-size: 20px;
            }

            @media screen and (min-width: 580px) and (max-width: 1440px) {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}
