.okp4-nemeton-web-header-main {
  display: grid;
  grid-template: repeat(3, auto) / repeat(2, auto);
  width: 100%;
  padding-top: 230px;
  column-gap: 260px;
  background-image: url('/image/nemeton-large.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  row-gap: 65px;
  padding-bottom: 70px;

  @media screen and (min-width: 581px) and (max-width: 1440px) {
    background-image: url('/image/nemeton-medium.png');
    padding: 50px 0 150px;
    background-size: auto;
  }

  @media screen and (max-width: 1440px) {
    grid-template: repeat(6, auto) / auto;
    column-gap: 0;
    row-gap: 15px;
    justify-items: center;
  }

  @media screen and (max-width: 580px) {
    background-image: url('/image/nemeton-mobile.png');
    padding: 50px 0 130px;
    row-gap: 0 !important;
  }

  .okp4-nemeton-web-header-title-container {
    grid-area: 1 / 1 / 1 / 1;
    max-width: 390px;
    justify-self: end;

    @media screen and (max-width: 1440px) {
      grid-area: 2 / 1 / 2 / 1;
      padding: 30px 0;
      justify-self: center;
    }

    @media screen and (max-width: 580px) {
      padding: 85px 0 6px 0;
      grid-area: 2/1/2/3;
    }

    > h1:first-of-type {
      font-size: 140px;
      text-align: center;
      letter-spacing: 14px;
      line-height: 140px;
      text-shadow: 0px 3px 6px #00000080;

      @media screen and (max-width: 1440px) {
        font-size: 100px;
        letter-spacing: 10px;
        line-height: 100px;
      }

      @media screen and (max-width: 580px) {
        font-size: 80px;
        letter-spacing: 8px;
        line-height: 80px;
      }
    }
  }

  .okp4-nemeton-web-header-divider {
    grid-area: 3 / 1 / 3 / 1;
    width: 380px;
    border-top: 2px solid white;

    @media screen and (max-width: 580px) {
      border-top: 1px solid white;
      max-width: 220px;
      margin: 30px 0;
      grid-area: 3/1/3/3;
    }
  }

  .okp4-nemeton-web-header-join-button-container {
    grid-area: 2 / 1 / 2 / 1;
    justify-self: end;
    align-self: end;
    @media screen and (max-width: 580px) {
      width: 100%;
      grid-area: 5/1/5/3;
    }
    @media screen and (min-width: 581px) and (max-width: 1440px) {
      grid-area: 5 / 1 / 5 / 1;
      justify-self: center;
    }

    button {
      align-self: flex-end;
      width: 453px;
      height: 93px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: unset;
      color: #1f403c;
      cursor: pointer;
      font-family: 'Six Caps', sans-serif;
      font-size: 60px;

      @media screen and (max-width: 1440px) {
        max-width: 255px;
        height: 71px;
        font-size: 45px;
        letter-spacing: 1.8px;
      }

      @media screen and (max-width: 580px) {
        width: 100%;
        height: 93px;
        font-size: 50px;
        max-width: unset;
      }
    }
  }

  .okp4-nemeton-web-header-logo-container {
    grid-area: 1 / 2 / 1 / 2;
    position: relative;
    @media screen and (max-width: 1440px) {
      grid-area: 1 / 1 / 1 / 1;
    }

    @media screen and (max-width: 580px) {
      padding-top: unset;
      justify-self: center;
      grid-area: 1/1/1/2;
    }
  }

  .okp4-nemeton-web-header-description-container {
    grid-area: 2 / 2 / 3 / 3;
    max-width: 340px;
    text-align: center;
    align-self: start;
    padding-bottom: 14px;

    @media screen and (max-width: 1440px) {
      grid-area: 4 / 1 / 4 / 1;
      max-width: 749px;
    }

    @media screen and (max-width: 580px) {
      padding-bottom: 66px;
      grid-area: 4/1/4/3;
      position: relative;
    }

    > h1:first-of-type {
      font-size: 61px;
      line-height: 60px;
      text-shadow: 0px 3px 6px #00000080;

      @media screen and (max-width: 1440px) {
        font-size: 61px;
        letter-spacing: 3.66px;
      }

      @media screen and (max-width: 580px) {
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 0;
      }
    }
  }

  .okp4-nemeton-web-header-links-container {
    grid-area: 3 / 1 / 3 / 3;
    display: flex;
    justify-self: center;
    justify-content: space-around;
    max-width: 644px;
    width: 100%;
    margin: 50px 0 218px 0;
    @media screen and (max-width: 1440px) {
      grid-area: 6 / 1 / 6 / 1;
      max-width: 640px;
      width: 100%;
      margin-top: 60px;
    }

    .link-label {
      font-size: 60px;
      cursor: pointer;
      opacity: 0.8;
      line-height: 66px;
      text-shadow: 0px 3px 6px #00000080;

      &.active {
        opacity: 1;
        font-size: 70px;
        @media screen and (max-width: 1440px) {
          font-size: 60px;
          letter-spacing: 2px;
        }
      }

      @media screen and (max-width: 1440px) {
        font-size: 50px;
        letter-spacing: 2px;
      }
    }
  }

  .okp4-nemeton-web-header-links-mobile-container {
    grid-area: 1/2/1/2;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;

    &.open {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .okp4-nemeton-web-header-links-mobile-burger-menu {
      &.rotate-down {
        transform: rotate(90deg);
        transition: transform 0.1s linear;
      }

      &.rotate-up {
        transform: rotate(0deg);
        transition: transform 0.1s linear;
      }
    }

    .okp4-nemeton-web-header-mobile-menu-links {
      opacity: 0;
      position: absolute;
      padding: 30px 0;
      top: 115px;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: #2e534f;
      z-index: 100;
      font-family: 'Gotham light', sans-serif;
      font-size: 12px;
      transition: opacity 0.4s;

      .link-label {
        opacity: 0.7;
        cursor: pointer;
        &.active {
          opacity: 1;
          font-size: 20px;
        }
      }

      &.open {
        opacity: 1;
      }
    }

    .okp4-nemeton-web-header-mobile-links-divider {
      margin: 10px;
      width: 100px;
      border-top: 1px solid white;
      justify-self: center;
    }
  }
}
