.okp4-nemeton-web-phase-dropdown-main {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #2e534f;
  margin-top: 84px;

  @media screen and (max-width: 1100px) {
    padding: 20px 30px;
    width: calc(100% - 60px);
    margin-top: 40px;
  }

  .okp4-nemeton-web-phase-dropdown-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 60px;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
      gap: 30px;
      padding: 20px;
    }

    .okp4-nemeton-web-phase-dropdown-clear-icon {
      font-size: 32px !important;
      cursor: pointer;
      order: 4;

      @media screen and (max-width: 1100px) {
        align-self: flex-end;
        order: 0;
      }
    }

    .okp4-nemeton-web-phase-dropdown-duration {
      display: flex;
      height: 105px;
      background-color: #1f403c;
      border-radius: 20px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 22px;
      @media screen and (max-width: 1100px) {
        flex-direction: column;
        justify-content: center;
      }

      > p {
        font-family: 'Gotham bold', sans-serif;
        font-size: 22px;
        align-self: center;
        text-align: center;

        @media screen and (max-width: 1100px) {
          font-size: 20px;
          padding-left: unset;
        }
      }
    }

    .okp4-nemeton-web-phase-dropdown-tasks {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1100px) {
        width: 100%;
        height: unset;
      }

      .okp4-nemeton-web-phase-dropdown-details-container {
        align-self: flex-end;
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 5px;

        > svg:first-of-type {
          font-size: 26px;
        }

        > a {
          font-family: 'Gotham bold', sans-serif;
          font-size: 20px;
          text-decoration: underline;
        }
      }

      .okp4-nemeton-web-phase-dropdown-task {
        > h3 {
          font-size: 50px;
          letter-spacing: 2px;
          padding: 20px 0 40px;

          @media screen and (max-width: 1440px) {
            font-size: 40px;
            letter-spacing: 1.6px;
          }

          @media screen and (max-width: 1100px) {
            font-size: 34px;
            letter-spacing: 2px;
          }
        }

        .okp4-nemeton-web-phase-dropdown-reward {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          padding-left: 40px;
          line-height: 32px;

          @media screen and (max-width: 580px) {
            padding: unset;
          }

          > p {
            font-family: 'Gotham light', sans-serif;
            font-size: 20px;
            max-width: 500px;

            &:nth-child(2) {
              white-space: nowrap;
              font-family: 'Gotham bold', sans-serif;
            }

            @media screen and (max-width: 1100px) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
