$podium-colors: ('gold', 'silver', 'bronze');

.okp4-nemeton-web-leaderboard-table-main {
  @include with-gradient-container;
  margin-top: 30px;
  flex-direction: column;
  align-items: baseline;
  overflow: auto;

  @media screen and (max-width: 1000px) {
    margin-top: 40px;
    gap: unset;
  }

  .okp4-nemeton-web-leaderboard-table-header-container {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
      gap: 28px;
    }
  }

  .okp4-nemeton-web-leaderboard-table-content-container {
    width: 100%;
    margin-top: 20px;
    min-height: 400px;

    table {
      width: 100%;
      border-spacing: 0 12px;
      table-layout: fixed;

      tr {
        height: 48px;
      }

      th {
        font-family: 'Gotham bold', sans-serif;
        line-height: 24px;
        font-size: 14px;
        opacity: 0.6;
        color: $primary-white;
        text-transform: uppercase;
        text-align: start;

        &:first-child {
          padding-left: 41px;

          @media screen and (max-width: 1000px) {
            padding-left: unset;
          }
        }
      }

      tbody {
        tr {
          font-family: 'Gotham light', sans-serif;
          background: none;
          border-radius: 6px;
          position: relative;
          transform: scale(1, 1);

          &.gold {
            background: linear-gradient(90deg, #d1c193 0%, rgba(209, 193, 147, 0) 100%);
            font-family: 'Gotham', sans-serif;
            font-weight: 700;
            background-attachment: fixed;
          }

          &.silver {
            background: linear-gradient(90deg, #b4b8bb 0%, rgba(180, 184, 187, 0) 100%);
            font-family: 'Gotham', sans-serif;
            font-weight: 700;
            background-attachment: fixed;
          }

          &.bronze {
            background: linear-gradient(90deg, #b49689 0%, rgba(180, 150, 137, 0) 100%);
            font-family: 'Gotham', sans-serif;
            font-weight: 700;
            background-attachment: fixed;
          }

          .okp4-nemeton-web-leaderboard-table-podium-logo {
            position: absolute;
            width: 39px;
            height: 39px;
            background-repeat: no-repeat;
            background-position: left center;
            left: -14px;
            top: 3px;
            bottom: 0;
            @each $podium-color in $podium-colors {
              &.#{$podium-color} {
                background-image: url('/icons/#{$podium-color}-druid.svg');
              }
            }
          }

          .flex-cell,
          a {
            display: flex;
            align-items: center;
            gap: 8px;
            max-width: 95%;

            > img:first-of-type {
              border-radius: 4px;
            }

            .okp4-nemeton-web-copy-logo {
              width: 100%;
            }
          }

          td {
            font-size: 16px;
            color: $primary-white;
            border: unset;

            &:nth-child(2) {
              text-transform: capitalize;
            }

            &:nth-child(3) {
              @media screen and (min-width: 1000px) {
                font-family: 'Gotham light', sans-serif;
              }
            }

            span {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            &:first-child {
              border-top-left-radius: 6px;
              border-bottom-left-radius: 6px;
              padding-left: 41px;

              @media screen and (max-width: 1000px) {
                padding-left: 15px;
              }
            }

            &:last-child {
              border-bottom-right-radius: 6px;
              border-top-right-radius: 6px;
            }
          }
        }
      }
    }
  }
}

.okp4-nemeton-web-tasks-table-main {
  margin-top: 37px;

  table {
    width: 100%;

    tr {
      height: 48px;
    }

    th {
      font-family: 'Gotham';
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      font-size: 14px;
      opacity: 0.6;
      color: $primary-white;
      text-transform: uppercase;
      text-align: start;
    }

    tbody {
      tr {
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 700;
        background: none;
        border-radius: 6px;
        position: relative;
        transform: scale(1, 1);
        font-size: 14px;

        td {
          &:nth-child(3) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
