.okp4-nemeton-web-footer-container {
  display: flex;
  justify-content: center;
  width: calc(100% - 244px);
  position: relative;
  background-image: url('/image/footer-large.webp');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px 122px 120px;
  background-size: 100% 900px;

  @media screen and (max-width: 900px) {
    background-image: url('/image/footer-small.webp');
    padding: 60px 30px 30px;
    width: calc(100% - 60px);
    background-size: cover;
  }

  @media screen and (min-width: 901px) and (max-width: 1249px) {
    background-image: url('/image/footer-medium.webp');
    padding: 120px 122px;
  }

  .okp4-nemeton-web-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 1250px) {
      flex-direction: column;
      gap: 60px;
    }

    @media screen and (max-width: 580px) {
      gap: 30px;
    }

    .link-label {
      font-size: 20px;
      font-family: 'Gotham light', sans-serif;
      cursor: pointer;
      margin: 0 10px;
      text-align: center;
      opacity: 0.7;

      &.active {
        opacity: 1;
      }

      &:hover {
        opacity: 0.7;
      }

      @media screen and (max-width: 1540px) {
        font-size: 15px;
      }
    }

    .okp4-nemeton-web-footer-links-container {
      display: flex;
      justify-content: space-between;

      > a {
        text-decoration: unset;
      }

      .okp4-nemeton-web-footer-links-divider {
        border-left: 1px solid $white;
      }
    }

    .okp4-nemeton-web-footer-socials-media-container {
      @include flex-rows-with-gap(8px);

      .okp4-nemeton-web-footer-socials-media-icon {
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
