@import url('https://fonts.googleapis.com/css2?family=Six+Caps:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gotham');
@import './variables.scss';
@import './mixins.scss';
@import 'src/components/layout/header/header.scss';
@import 'src/components/layout/footer/footer.scss';
@import 'src/components/card/phase/phaseCard.scss';
@import 'src/components/dropDown/phase/phaseDropDown.scss';
@import 'src/components/card/base/baseCard.scss';
@import 'src/components/podium/podium.scss';
@import 'src/components/search/search.scss';
@import 'src/components/table/table.scss';
@import 'src/components/countdown/countdown.scss';
@import 'src/components/accordion/accordion.scss';
@import 'src/components/profile/profile.scss';
@import 'src/components/tasks/tasksSummary.scss';
@import 'src/components/tag/tag.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Six Caps', sans-serif !important;

  > div:first-child,
  > div:first-child > div:first-of-type {
    min-height: 100vh;
  }
}

a {
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

main {
  background-color: $primary-green;
  min-height: 100vh;
  color: $primary-white;
}

.okp4-nemeton-web-icon {
  cursor: pointer;

  &.rotate-down {
    transform: rotate(180deg);
    transition: transform 0.1s linear;
  }

  &.rotate-up {
    transform: rotate(0deg);
    transition: transform 0.1s linear;
  }
}

.okp4-nemeton-web-bold-text {
  font-family: 'Gotham', sans-serif;
  font-weight: 500;
}

.okp4-nemeton-web-page-main {
  .okp4-nemeton-web-page-divider {
    border: 2px solid $primary-white;
    width: 371px;

    @media screen and (max-width: 1000px) {
      width: 188px;
      margin: auto;
    }
  }

  .okp4-nemeton-web-page-content-container {
    max-width: 1600px;
    padding: 10px 115px 30px;
    margin: auto;

    @media screen and (min-width: 581px) and (max-width: 1440px) {
      width: calc(100% - 80px);
      padding: 10px 40px 30px;
    }

    @media screen and (max-width: 580px) {
      padding: 24px;
      width: calc(100% - 48px);
    }

    h1 {
      font-size: 100px;
      @media screen and (max-width: 1000px) {
        font-size: 81px;
        text-align: center;
      }
    }

    h2 {
      font-size: 50px;
      margin: 20px 0;
      text-shadow: 0 2px 4px #00000080;
      letter-spacing: 2.4px;

      @media screen and (max-width: 1000px) {
        font-size: 40px;
        margin: 10px 0;
      }
    }

    h2,
    li {
      + p {
        margin-top: unset;
      }
    }

    h3 {
      font-size: 25px;
      font-family: 'Gotham light', sans-serif;
      @media screen and (max-width: 1000px) {
        font-size: 22px;
      }
    }

    p {
      margin: 25px 0;
      font-size: 18px;
      font-family: 'Gotham light', sans-serif;
      word-break: break-word;
      line-height: 30px;
      @media screen and (max-width: 1000px) {
        font-size: 16px;

        &.center {
          text-align: center;
        }
      }
    }

    ol {
      padding-inline-start: unset;
      margin-block-start: 40px;

      li {
        margin-left: 25px;

        h2 {
          font-family: 'Six Caps', sans-serif;
        }

        &::marker {
          font-weight: 700;
          font-family: 'Gotham', sans-serif;
        }
      }

      ul {
        list-style-type: disc;

        @media screen and (max-width: 720px) {
          padding-inline-start: 20px;

          li {
            margin-left: unset;
          }
        }
      }
    }

    li {
      font-size: 22px;
      font-family: 'Gotham light', sans-serif;
      word-break: break-word;
      @media screen and (max-width: 580px) {
        font-size: 22px;
      }

      p {
        margin: 0;
      }

      li {
        list-style-type: disc;
      }
    }

    .okp4-nemeton-web-tasks-accordion-title {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;
      justify-content: space-between;

      p {
        opacity: 0.6;
        margin: 0;
      }
    }

    .content-block-main {
      margin: 50px 0;

      .content-block-title-container {
        display: flex;
        align-items: center;
        gap: 5px;

        > h3:first-of-type {
          font-style: italic;
          font-family: 'Gotham', sans-serif;
          font-weight: 700;
          padding-top: 18px;
        }

        > svg {
          font-size: 30px;
        }
      }
    }

    .okp4-nemeton-web-page-content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.okp4-nemeton-web-home-main {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-top: 80px;
  @media screen and (max-width: 580px) {
    gap: 30px;
    margin-top: 20px;
  }
}

.okp4-nemeton-web-page-leaderboard-summary-container {
  display: flex;
  gap: 60px;
  letter-spacing: 0.04em;
  margin-top: 62px;
  width: 100%;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    gap: 18px;
    margin-top: 23px;
  }

  .okp4-nemeton-web-page-leaderboard-summary-card-title-container {
    display: flex;
    align-items: baseline;
    gap: 10px;

    > h2:first-of-type {
      font-size: 28px !important;
      margin: 0;
      letter-spacing: 0.04em;
      text-shadow: unset;
    }
  }

  .okp4-nemeton-web-page-leaderboard-summary-card-title {
    font-size: 61px !important;

    &.uppercase {
      text-transform: uppercase;
    }
  }

  .okp4-nemeton-web-page-leaderboard-summary-card-description {
    font-size: 16px !important;
    margin: 0 !important;
    line-height: unset !important;
  }
}

.okp4-nemeton-web-page-leaderboard-main-container {
  padding-top: 62px;

  @media screen and (max-width: 1000px) {
    padding-top: unset;
  }

  @media screen and (min-width: 1000px) {
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url('/image/nemeton-medium-reversed.webp');
      background-repeat: no-repeat;
      background-size: cover;
      left: 0;
    }
  }

  .okp4-nemeton-web-page-leaderboard-main-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #1f403c;
    border-radius: 20px 20px 0 0;
    margin-top: 100px;
    padding: 68px 89px;

    @media screen and (max-width: 1000px) {
      margin-top: 44px;
      background: none;
      padding: unset;
      align-items: center;
    }

    @media screen and (min-width: 581px) and (max-width: 1440px) {
      padding: 40px 20px;
    }

    .okp4-nemeton-web-page-leaderboard-main-description {
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      max-width: 446px;

      @media screen and (max-width: 1000px) {
        text-align: center;
      }
    }
  }
}

.okp4-nemeton-web-go-back-button-container {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;

  > span {
    font-family: 'Gotham light', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
  }

  > svg {
    font-size: 20px;
  }
}

.okp4-nemeton-web-copy-logo {
  width: 18px;
  height: 18px;
  background-image: url('/icons/copy.svg');
  background-repeat: no-repeat;
  margin-left: 4px;
  cursor: pointer;
}

.okp4-nemeton-web-page-druid-main-container {
  display: flex;
  flex-direction: column;
  gap: 31px;
  background: #1f403c;
  border-radius: 20px 20px 0 0;
  margin-top: -110px;
  padding: 45px 89px;

  @media screen and (max-width: 1000px) {
    padding: unset;
    background: unset;
    margin-top: 20px;
  }
}

.okp4-nemeton-web-loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  > span:first-of-type {
    font-family: 'Gotham light', sans-serif;
    font-size: 14px;
  }
}
