@import url('https://fonts.googleapis.com/css2?family=Six+Caps:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gotham');
@import './variables.scss';
@import './mixins.scss';
@import 'src/components/layout/header/header.scss';
@import 'src/components/layout/footer/footer.scss';
@import 'src/components/card/phase/phaseCard.scss';
@import 'src/components/dropDown/phase/phaseDropDown.scss';
@import 'src/components/card/base/baseCard.scss';
@import 'src/components/podium/podium.scss';
@import 'src/components/search/search.scss';
@import 'src/components/table/table.scss';
@import 'src/components/countdown/countdown.scss';
@import 'src/components/accordion/accordion.scss';
@import 'src/components/profile/profile.scss';
@import 'src/components/tasks/tasksSummary.scss';
@import 'src/components/tag/tag.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Six Caps', sans-serif !important;

  > div:first-child,
  > div:first-child > div:first-of-type {
    min-height: 100vh;
  }
}

a {
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

main {
  background-color: $green;
  min-height: 100vh;
  color: $white;
}

.okp4-nemeton-web-icon {
  cursor: pointer;

  &.rotate-down {
    @include rotation-animation(180deg);
  }

  &.rotate-up {
    @include rotation-animation(0deg);
  }
}

.okp4-nemeton-web-bold-text {
  font-family: 'Gotham', sans-serif;
  font-weight: 500;
}

.okp4-nemeton-web-page-main {
  .okp4-nemeton-web-page-divider {
    border: 2px solid $white;
    width: 371px;

    @media screen and (max-width: 1000px) {
      width: 188px;
      margin: auto;
    }
  }

  .challenges {
    @media screen and (min-width: 1000px) and (max-width: 1440px) {
      width: inherit !important;
      padding: 10px 0 30px !important;
    }
  }

  .okp4-nemeton-web-page-content-container {
    max-width: 1600px;
    padding: 10px 115px 30px;
    margin: auto;

    @media screen and (min-width: 581px) and (max-width: 1440px) {
      width: calc(100% - 80px);
      padding: 10px 40px 30px;
    }

    @media screen and (max-width: 580px) {
      padding: 24px;
      width: calc(100% - 48px);
    }

    h1 {
      font-size: 100px;
      @media screen and (max-width: 1000px) {
        font-size: 81px;
        text-align: center;
      }
    }

    h2 {
      font-size: 50px;
      margin: 20px 0;
      text-shadow: 0 2px 4px $shadow-dark;
      letter-spacing: 2.4px;

      @media screen and (max-width: 1000px) {
        font-size: 40px;
        margin: 10px 0;
      }
    }

    h2,
    li {
      + p {
        margin-top: unset;
      }
    }

    h3 {
      font-size: 25px;
      font-family: 'Gotham light', sans-serif;
      @media screen and (max-width: 1000px) {
        font-size: 22px;
      }
    }

    p {
      margin: 25px 0;
      font-size: 18px;
      font-family: 'Gotham light', sans-serif;
      word-break: break-word;
      line-height: 30px;
      @media screen and (max-width: 1000px) {
        font-size: 16px;

        &.center {
          text-align: center;
        }
      }
    }

    ol {
      padding-inline-start: unset;
      margin-block-start: 40px;

      li {
        margin-left: 25px;

        h2 {
          font-family: 'Six Caps', sans-serif;
        }

        &::marker {
          font-weight: 700;
          font-family: 'Gotham', sans-serif;
        }
      }

      ul {
        list-style-type: disc;

        @media screen and (max-width: 720px) {
          padding-inline-start: 20px;

          li {
            margin-left: unset;
          }
        }
      }
    }

    li {
      font-size: 22px;
      font-family: 'Gotham light', sans-serif;
      word-break: break-word;
      @media screen and (max-width: 580px) {
        font-size: 22px;
      }

      p {
        margin: 0;
      }

      li {
        list-style-type: disc;
      }
    }

    .okp4-nemeton-web-page-terms-update {
      background-color: $green-100;
      border-radius: 15px;
      padding: 0 20px 5px;

      .okp4-nemeton-web-page-terms-update-title {
        @include flex-rows-with-gap(10px);

        h2 {
          text-decoration: underline;
        }

        h3 {
          margin: 20px 0;
          display: flex;
          align-items: flex-end;
          line-height: 40px;
        }
      }

      p:first-of-type {
        margin-top: 5px;
      }

      @media screen and (max-width: 1000px) {
        padding: 5px 20px;

        .okp4-nemeton-web-page-terms-update-title {
          h3 {
            margin: 10px 0;
            line-height: 34px;
          }
        }
      }
    }

    .okp4-nemeton-web-page-challenges-container {
      @media screen and (min-width: 1000px) and (max-width: 1440px) {
        position: relative;
        background-image: url('/image/challenges-druid-teacher.webp');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100% 900px;
        padding-bottom: 50px;
      }

      .okp4-nemeton-web-page-challenges-content {
        padding: 0 121px;

        @media screen and (max-width: 1000px) {
          padding: 0;

          h2,
          p {
            text-align: center;
          }

          h2 {
            font-size: 61px;
            margin: 60px 0 20px;
          }
        }

        .content-block-main {
          a {
            color: #d9b57d;
          }

          p {
            text-align: left;
          }

          ul {
            li {
              font-size: 18px;
              margin: 11px 0;
            }
          }

          span {
            padding: 0.2em 0.4em;
            margin: 0;
            white-space: break-spaces;
            background-color: $black-300;
            border-radius: 6px;
            line-height: 24px;
          }

          pre {
            padding: 13px;
            overflow: auto;
            background: $black-300;
            border-radius: 6px;
          }
        }

        .okp4-nemeton-web-challenges-accordion-title-wrapper {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          @media screen and (max-width: 580px) {
            flex-direction: column-reverse;
            align-items: flex-start;
          }

          .okp4-nemeton-web-challenges-accordion-duration-wrapper {
            @include flex-rows-with-gap(2px);

            @media screen and (max-width: 1199px) {
              flex-direction: column;
              align-items: flex-start;
              gap: 0;
            }
          }

          h3 {
            font-size: 16px;
            font-family: 'Gotham', sans-serif;
            font-weight: 700;
            line-height: 24px;
            max-width: 527px;

            @media screen and (min-width: 769px) and (max-width: 1100px) {
              max-width: 400px;
            }

            @media screen and (max-width: 580px) {
              max-width: 331px;
            }

            @media screen and (min-width: 581px) and (max-width: 768px) {
              max-width: 221px;
            }
          }

          p {
            font-size: 16px;
            margin: 0;
            color: $white-400;
          }
        }
      }
    }

    .okp4-nemeton-web-tasks-accordion-title {
      @include flex-rows-with-gap(10px);
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      p {
        opacity: 0.6;
        margin: 0;
      }
    }

    .content-block-main {
      margin: 50px 0;

      .content-block-title-container {
        @include flex-rows-with-gap(5px);
        align-items: center;

        > h3:first-of-type {
          font-style: italic;
          font-family: 'Gotham', sans-serif;
          font-weight: 700;
          padding-top: 18px;
        }

        > svg {
          font-size: 30px;
        }
      }
    }

    .okp4-nemeton-web-page-accordions-wrapper {
      @include flex-columns-with-gap(10px);

      .okp4-nemeton-web-page-accordions-title-container {
        @include flex-rows-with-gap(10px);

        h3 {
          margin: 20px 0;
          display: flex;
          align-items: flex-end;
          line-height: 40px;

          @media screen and (max-width: 1000px) {
            margin: 10px 0;
            line-height: 34px;
          }
        }
      }
    }

    .okp4-nemeton-web-page-leaderboard-summary-container {
      @include flex-rows-with-gap(60px);
      letter-spacing: 0.04em;
      margin-top: 62px;
      width: 100%;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
        gap: 18px;
        margin-top: 23px;
      }

      .okp4-nemeton-web-page-leaderboard-summary-card-title-container {
        @include flex-rows-with-gap(10px);
        flex-wrap: wrap;
        align-items: baseline;

        > h2:first-of-type {
          font-size: 28px !important;
          margin: 0;
          letter-spacing: 0.04em;
          text-shadow: unset;
          white-space: nowrap;
        }
      }

      .okp4-nemeton-web-page-leaderboard-summary-card-title {
        font-size: 61px !important;

        &:is(h1) {
          line-height: 57px;
        }

        &.uppercase {
          text-transform: uppercase;
        }
      }

      .okp4-nemeton-web-page-leaderboard-summary-card-description {
        font-size: 16px !important;
        margin: 0 !important;
        line-height: unset !important;
      }
    }

    .okp4-nemeton-web-page-leaderboard-main-container {
      padding-top: 62px;

      @media screen and (max-width: 1000px) {
        padding-top: unset;
      }

      @media screen and (min-width: 1000px) {
        &::before {
          content: '';
          position: absolute;
          height: 100%;
          width: 100%;
          background-image: url('/image/nemeton-medium-reversed.webp');
          background-repeat: no-repeat;
          background-size: cover;
          left: 0;
        }
      }

      .okp4-nemeton-web-page-leaderboard-main-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        background: $green;
        border-radius: 20px 20px 0 0;
        margin-top: 100px;
        padding: 68px 89px;

        @media screen and (max-width: 1000px) {
          margin-top: 44px;
          background: none;
          padding: unset;
          align-items: center;
        }

        @media screen and (min-width: 581px) and (max-width: 1440px) {
          padding: 40px 20px;
        }

        .okp4-nemeton-web-page-leaderboard-main-description {
          font-size: 16px;
          line-height: 20px;
          margin: 0;
          max-width: 446px;

          @media screen and (max-width: 1000px) {
            text-align: center;
          }
        }
      }
    }

    .okp4-nemeton-web-page-druid-main-container {
      @include flex-columns-with-gap(31px);
      background: $green;
      border-radius: 20px 20px 0 0;
      margin-top: -110px;
      padding: 45px 89px;

      @media screen and (max-width: 1000px) {
        padding: unset;
        background: unset;
        margin-top: 20px;
      }

      .okp4-nemeton-web-go-back-button-container {
        @include flex-rows-with-gap(7px);
        align-items: center;
        cursor: pointer;

        > span {
          font-family: 'Gotham light', sans-serif;
          font-size: 14px;
          line-height: 24px;
          text-transform: capitalize;
        }

        > svg {
          font-size: 20px;
        }
      }

      .okp4-nemeton-web-loader-container {
        @include flex-columns-with-gap(10px);
        align-items: center;

        > span:first-of-type {
          font-family: 'Gotham light', sans-serif;
          font-size: 14px;
        }
      }
    }

    .okp4-nemeton-web-page-materials-container {
      padding: 0 83px;

      @media screen and (max-width: 1000px) {
        padding: 0;

        p {
          text-align: center;
        }
      }

      .okp4-nemeton-web-page-materials-links-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 34px;
        row-gap: 34px;
        margin: 90px 0;

        @media screen and (max-width: 1000px) {
          grid-template-columns: 1fr 1fr;
          margin: 40px 0;
          row-gap: 16px;
          column-gap: 16px;
        }

        @media screen and (max-width: 580px) {
          grid-template-columns: auto;
        }

        .okp4-nemeton-web-page-materials-link {
          height: 64px;
          background: $black-100;
          border-radius: 12px;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none;

          .okp4-nemeton-web-page-materials-link-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            padding-left: 22px;
            padding-right: 26px;

            .okp4-nemeton-web-page-materials-link-icon {
              @include flex-rows-with-gap(12px);
              align-items: center;
            }
          }
        }
      }

      a {
        font-family: Gotham bold, sans-serif;
      }
    }
  }
}

.okp4-nemeton-web-home-main {
  @include flex-columns-with-gap(90px);
  padding-top: 80px;

  @media screen and (max-width: 580px) {
    gap: 30px;
    padding-top: 20px;
  }
}

.okp4-nemeton-web-copy-logo {
  width: 18px;
  height: 18px;
  background-image: url('/icons/copy.svg');
  background-repeat: no-repeat;
  margin-left: 4px;
  cursor: pointer;
}
