@import url('https://fonts.googleapis.com/css2?family=Six+Caps:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gotham');
@import './variables.scss';
@import './mixins.scss';
@import 'src/components/layout/header/header.scss';
@import 'src/components/layout/footer/footer.scss';
@import 'src/components/sidh/challenges.scss';
@import 'src/components/card/card.scss';
@import 'src/components/podium/podium.scss';
@import 'src/components/search/search.scss';
@import 'src/components/table/table.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Six Caps', sans-serif !important;

  > div:first-child,
  > div:first-child > div:first-of-type {
    min-height: 100vh;
  }
}

a {
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

main {
  background-color: $primary-green;
  min-height: 100vh;
  color: $primary-white;
}

.okp4-nemeton-web-challenge-clear-icon {
  position: absolute;
  right: 50px;
  margin-top: 20px;
  font-size: 32px !important;
  cursor: pointer;

  @media screen and (max-width: 580px) {
    position: relative;
    right: 0;
    align-self: flex-end;
    margin-top: unset;
  }
}

.okp4-nemeton-web-icon {
  cursor: pointer;

  &.rotate-down {
    transform: rotate(180deg);
    transition: transform 0.1s linear;
  }

  &.rotate-up {
    transform: rotate(0deg);
    transition: transform 0.1s linear;
  }
}

.okp4-nemeton-web-page-main {
  .okp4-nemeton-web-page-divider {
    border: 2px solid $primary-white;
    width: 371px;
  }

  .okp4-nemeton-web-page-content-container {
    max-width: 1600px;
    padding: 10px 230px 30px;
    margin: auto;

    @media screen and (min-width: 581px) and (max-width: 800px) {
      padding: 10px 70px 30px;
      width: calc(100% - 140px);
    }

    @media screen and (min-width: 801px) and (max-width: 1440px) {
      padding: 10px 115px 30px;
      width: calc(100% - 230px);
    }

    @media screen and (max-width: 580px) {
      padding: 30px;
      width: calc(100% - 60px);
    }

    h1 {
      font-size: 120px;
      @media screen and (max-width: 580px) {
        font-size: 81px;
        text-align: center;
      }
    }

    h2 {
      font-size: 60px;
      margin: 20px 0;
      text-shadow: 0 3px 6px #00000080;
      letter-spacing: 2.4px;

      @media screen and (max-width: 580px) {
        font-size: 40px;
        margin: 10px 0;
      }
    }

    h2,
    li {
      + p {
        margin-top: unset;
      }
    }

    h3 {
      font-size: 30px;
      font-family: 'Gotham light', sans-serif;
      @media screen and (max-width: 580px) {
        font-size: 24px;
      }
    }

    p {
      margin: 30px 0;
      font-size: 28px;
      font-family: 'Gotham light', sans-serif;
      word-break: break-word;
      @media screen and (max-width: 580px) {
        font-size: 22px;
      }
    }

    ol {
      padding-inline-start: unset;
      margin-block-start: 60px;

      li {
        margin-left: 40px;

        h2 {
          font-family: 'Six Caps', sans-serif;
        }
      }

      ul {
        list-style-type: disc;

        @media screen and (max-width: 720px) {
          padding-inline-start: 20px;

          li {
            margin-left: unset;
          }
        }
      }
    }

    li {
      font-size: 28px;
      font-family: 'Gotham light', sans-serif;
      word-break: break-word;
      @media screen and (max-width: 580px) {
        font-size: 22px;
      }

      li {
        list-style-type: disc;
      }
    }

    .okp4-nemeton-web-page-content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .okp4-nemeton-web-page-content-accordion-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 30px 30px 30px 50px;
        border-radius: 15px;
        background-color: #2e534f;
        margin: 5px 0;

        h3 {
          max-width: 85%;
          @media screen and (max-width: 580px) {
            max-width: 75%;
          }
        }
      }

      .okp4-nemeton-web-page-content-accordion-answer-container {
        width: 88%;
        margin: auto;
      }
    }
  }
}

.okp4-nemeton-web-phases-main {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-top: 80px;
  @media screen and (max-width: 580px) {
    gap: 30px;
    margin-top: 20px;
  }

  .okp4-nemeton-web-phase-main {
    display: flex;
    flex-direction: column;

    .okp4-nemeton-web-phase-content-button-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 20px 0 0 80px;

      > p {
        font-family: 'Gotham light', sans-serif;
        align-self: center;
      }

      @media screen and (max-width: 900px) {
        margin-left: unset;
      }
    }

    .okp4-nemeton-web-phase-container {
      display: flex;
      width: 100%;
      justify-content: center;

      @media screen and (min-width: 2125px) {
        background-image: none;
        justify-content: center;
      }

      @media screen and (max-width: 1440px) {
        background-size: 802px 602px;
      }

      @media screen and (max-width: 580px) {
        background-repeat: no-repeat;
        background-position: center top 5%;
        background-size: contain;
      }

      &.imbolc {
        @media screen and (max-width: 580px) {
          background-image: url('/image/imbolc-mobile.webp');
        }
      }

      &.sidh {
        @media screen and (max-width: 580px) {
          background-image: url('/image/sidh-mobile.webp');
        }
      }

      &.beltaine {
        @media screen and (max-width: 580px) {
          background-image: url('/image/beltaine-mobile.webp');
        }
      }

      .okp4-nemeton-web-phase-content-container {
        max-width: 1312px;
        width: 100%;
        min-width: 1170px;
        height: 519px;
        border: 1px solid white;
        border-radius: 20px;
        margin: 0 177px;
        position: relative;
        background-repeat: no-repeat;

        &.no-border {
          border: unset;
        }

        &.imbolc {
          background-image: url('/image/imbolc-large.webp');
          background-position: left;
          background-size: contain;
          @media screen and (min-width: 581px) and (max-width: 1920px) {
            background-image: url('/image/imbolc-medium.webp');
          }
          @media screen and (max-width: 900px) {
            background-size: cover;
          }
        }

        &.beltaine {
          background-image: url('/image/beltaine-large.webp');
          background-position: right;
          background-size: auto;
          @media screen and (min-width: 581px) and (max-width: 1920px) {
            background-image: url('/image/beltaine-medium.webp');
          }
          @media screen and (max-width: 900px) {
            background-size: cover;
          }
        }

        &.sidh {
          background-image: url('/image/sidh-large.webp');
          background-position: right;
          background-size: contain;
          @media screen and (min-width: 581px) and (max-width: 1920px) {
            background-image: url('/image/sidh-medium.webp');
          }
          @media screen and (max-width: 900px) {
            background-size: cover;
          }
        }

        @media screen and (min-width: 2125px) {
          background-image: url('/image/sidh.webp');
          background-position: right;
          background-repeat: no-repeat;
        }

        @media screen and (max-width: 1440px) {
          max-width: 1197px;
          height: 470px;
          margin: 0 122px;
          min-width: unset;
        }

        @media screen and (max-width: 580px) {
          background-image: none !important;
          width: 100%;
          height: 475px;
          margin: 50px 26px 0;
          min-width: unset;
        }

        .okp4-nemeton-web-phase-content-details {
          padding: 20px 0 0 45px;
          display: flex;
          flex-direction: column;
          align-items: baseline;
          gap: 15px;
          height: 100%;

          @media screen and (max-width: 900px) {
            padding: 0 20px;
            align-items: center;
          }

          &.imbolc {
            @media screen and (min-width: 901px) {
              align-items: flex-end;
              padding: 20px 45px 0 0;
            }
          }
          @media screen and (max-width: 580px) {
            padding: 0 20px;
            gap: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            max-height: inherit;
          }

          > p:first-of-type {
            max-width: 420px;
            font-size: 20px;
            font-family: 'Gotham light', sans-serif;
            @media screen and (max-width: 580px) {
              font-size: 18px;
              height: unset;
              padding-bottom: 20px;
            }
          }
        }

        .okp4-nemeton-web-phase-content-title {
          display: flex;
          align-items: baseline;
          @media screen and (max-width: 580px) {
            justify-content: center;
          }

          > h1:first-of-type {
            font-size: 140px;
            @media screen and (max-width: 580px) {
              font-size: 100px;
            }
          }

          > h2:first-of-type {
            padding-right: 22px;
            font-size: 40px;
            @media screen and (max-width: 580px) {
              font-size: 30px;
            }
          }
        }
      }
    }

    .okp4-nemeton-web-challenge-button {
      max-width: 350px;
      border: 2px solid white;
      background-color: transparent;
      color: white;
      cursor: pointer;
      font-family: 'Six Caps', sans-serif;
      font-size: 42px;
      letter-spacing: 2px;
      padding: 0 28px;

      &.right {
        margin: 20px 80px 0 0;
        @media screen and (max-width: 900px) {
          margin-right: unset;
        }
      }

      &.disabled {
        pointer-events: none;
      }

      @media screen and (max-width: 580px) {
        max-width: unset;
        font-size: 38px;
        margin-top: 26px;
        align-self: center;
        margin-left: unset;
      }
    }
  }
}

.okp4-nemeton-web-phase-mask-container {
  position: absolute;
  background-color: #2e534f;
  width: 100%;
  height: 519px;
  min-width: unset;
  border-radius: 20px;
  opacity: 0.95;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 580px) {
    height: 475px;
  }

  @media screen and (min-width: 581px) and (max-width: 1440px) {
    height: 470px;
  }

  > h2:first-of-type {
    font-size: 80px;
    padding: 0 40px;
    @media screen and (max-width: 900px) {
      font-size: 40px;
    }
  }

  .okp4-nemeton-web-phase-mask-divider {
    width: 100px;
    border-top: 3px solid white;
    @media screen and (max-width: 900px) {
      width: 40px;
    }
  }
}

.okp4-nemeton-web-page-leaderboard-summary-container {
  display: flex;
  gap: 60px;
  letter-spacing: 0.04em;
  margin-top: 62px;
  width: 100%;
  align-items: center;
  justify-content: center;

  .okp4-nemeton-web-page-leaderboard-summary-card-title-container {
    display: flex;
    align-items: baseline;
    gap: 10px;

    > h2:first-of-type {
      font-size: 28px !important;
      margin: 0;
      letter-spacing: 0.04em;
      text-shadow: unset;
    }
  }

  .okp4-nemeton-web-page-leaderboard-summary-card-title {
    font-size: 61px !important;
  }

  .okp4-nemeton-web-page-leaderboard-summary-card-description {
    font-size: 16px !important;
    margin: 0 !important;
  }
}

.okp4-nemeton-web-page-leaderboard-main-container {
  padding-top: 62px;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('/image/nemeton-medium-reversed.webp');
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
  }

  .okp4-nemeton-web-page-leaderboard-main-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #1f403c;
    border-radius: 20px 20px 0 0;
    margin-top: 100px;
    padding: 68px 89px;

    .okp4-nemeton-web-page-leaderboard-main-description {
      font-size: 16px;
      line-height: 20px;
      margin: 0;
    }
  }
}
