$green: #1f403c;
$green-100: #2e534f;
$white: white;
$white-100: #ffffff99;
$white-200: #b4b8bb;
$white-300: #827e7e;
$black: #ffffff00;
$black-100: #ffffff33;
$black-200: #ffffff1f;
$choco: #b49689;
$choco-100: #d1c193;

$shadow-dark: #00000080;

$success: #95c1bb;
$progress: #ff8b3e;
$idle: #febca8;
$error: #ff3648;
$info: #a4abbd;
