.okp4-nemeton-web-podium-main {
  @include with-gradient-container;
  min-height: 227px;
  margin-top: 76px;

  @media screen and (max-width: 580px) {
    width: 100%;
  }

  .okp4-nemeton-web-podium-steps-container {
    display: flex;
    gap: 80px;
    margin-left: auto;

    @media screen and (max-width: 580px) {
      gap: unset;
      margin-left: unset;
      justify-content: space-between;
      width: 100%;
    }

    .okp4-nemeton-web-podium-step-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;

      &.first {
        transform: scale(1.3);
        margin-top: -30px;

        @media screen and (max-width: 580px) {
          margin-top: -50px;
          transform: unset;
        }
      }

      p {
        font-size: 14px !important;
        margin: 0 !important;
        font-family: 'Gotham', sans-serif !important;
        max-width: 155px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-transform: capitalize;
        font-weight: 700;
        opacity: 0.8;

        @media screen and (max-width: 580px) {
          max-width: unset;
          white-space: unset;
          overflow: auto;
          text-overflow: unset;
          text-align: center;
        }
      }

      .okp4-nemeton-web-podium-step-wrapper {
        width: 155px;
        height: 155px;
        border-style: solid;
        border-width: 2px;
        border-radius: 16px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        @media screen and (max-width: 580px) {
          width: 66px;
          height: 66px;
          border-radius: 8px;

          &.first {
            border-radius: 16px;
            width: 156px;
            height: 156px;
          }
        }

        .okp4-nemeton-web-podium-step-rank-container {
          width: 60%;
          border-radius: 0 14px;
          position: absolute;
          height: 40px;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;

          @media screen and (max-width: 580px) {
            height: 17px;
            border-radius: 0 6px;
            width: 50%;

            &.first {
              height: 30px;
              border-radius: 0 14px;
            }
          }

          > span:first-of-type {
            font-size: 24px;
            line-height: 20px;

            @media screen and (max-width: 580px) {
              &:not(.first > span) {
                font-size: 16px;
              }
            }
          }

          &.first {
            background: #d1c193;
          }

          &.second {
            background: #b4b8bb;
          }

          &.third {
            background: #b49689;
          }
        }

        &.first {
          border-color: #d1c193;
          box-shadow: 0 -8px 60px 0 rgba(209, 193, 147, 1);
        }

        &.second {
          border-color: #b4b8bb;
          box-shadow: 0 -8px 60px 0 rgba(180, 184, 187, 1);
        }

        &.third {
          border-color: #b49689;
          box-shadow: 0 -8px 60px 0 rgba(180, 150, 137, 1);
        }
      }
    }
  }
}
