.okp4-nemeton-web-accordion-main {
  &.secondary {
    width: calc(100% - 60px);
    background: $green;
    border: 1px solid $black-100;
    border-radius: 20px;
    padding: 20px 30px;

    @media screen and (max-width: 580px) {
      padding: 20px;
      width: calc(100% - 40px);
    }
  }

  &.tertiary {
    padding: 0 30px;
    border-radius: 15px;
    background-color: $black-200;
    margin: 16px 0;

    @media screen and (max-width: 769px) {
      padding: 28px 30px;
    }

    &.active {
      @media screen and (min-width: 769px) {
        padding: 28px 30px;
      }
    }
  }

  &.disabled {
    background: rgba(31, 64, 60, 0.2);
    border: 1px solid $black-200;
  }

  .okp4-nemeton-web-accordion-title-container {
    @include flex-rows-with-gap(20px);
    justify-content: space-between;
    padding: 20px 20px 20px 50px;
    border-radius: 15px;
    background-color: $green-100;
    margin: 5px 0;
    align-items: center;

    @media screen and (max-width: 580px) {
      padding: 20px;
    }

    &.secondary {
      width: 100%;
      gap: 41px;
      padding: 0;
      border-radius: 0;
      background-color: unset;
      margin: 0;

      @media screen and (max-width: 580px) {
        padding: 0;
      }
    }

    &.tertiary {
      width: 100%;
      gap: 20px;
      justify-content: space-between;
      background-color: unset;
      margin: 0;
      padding: 0;

      @media screen and (min-width: 769px) {
        height: 80px;
      }

      &.active {
        height: inherit;
      }

      .rotate-down {
        transform: rotate(0deg);
      }

      .rotate-up {
        transform: rotate(180deg) scaleX(-1);
      }
    }

    .okp4-nemeton-web-accordion-content {
      width: 88%;
      margin: auto;
    }
  }
}
